{{define "title"}}PFE Dashboard - FS{{end}}

{{define "body"}}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Currently Connected FS
                </div>
                <div id="connected-fs-number" class="number-chart chart-stage">
                    <span class="number-display"></span>
                </div>
                <div class="chart-notes">
                    Number of currently connected file servers
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Currently Streaming FS
                </div>
                <div id="streaming-fs-number" class="number-chart chart-stage">
                    <span class="number-display"></span>
                </div>
                <div class="chart-notes">
                    Number of currently streaming file servers
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-10">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Connections Time Chart
                </div>
                <div id="conn-chart" class="chart-stage"></div>
                <div class="chart-notes">
                    Number of connections/disconnections with Time
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Number of Unique FS
                </div>
                <div id="unique-fs-number" class="number-chart chart-stage"></div>
                <div class="chart-notes">
                    Total number of unique file servers connected over time
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Version Pie Chart
                </div>
                <div id="version-pie" class="chart-stage"></div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="chart-wrapper">
                <div class="chart-title">
                    FS Architecture Pie
                </div>
                <div id="arch-pie" class="chart-stage"></div>
            </div>
        </div>
    </div>

</div>
{{end}}

{{define "scripts"}}
<script src="../../static/js/fs-charts.js"></script>
{{end}}